body{
    background-image:url(/web/20221215181702im_/https://vile.sh/assets/vile.css);
    object-fit:cover;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center
}
{body{
    height:100vh;
    object-fit:cover;
    margin:0!important;
    background-size:cover;
    background-repeat:no-repeat;
    min-height:-webkit-fill-available
}
#main{
    display:block!important
}
#video{
    display:none
}
.footer {
    position: absolute;
    bottom: 0;
    right: 5px;
}
/*
     FILE ARCHIVED ON 18:17:02 Dec 15, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:54:12 Feb 13, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.166
  exclusion.robots.policy: 0.152
  cdx.remote: 0.26
  esindex: 0.025
  LoadShardBlock: 407.558 (6)
  PetaboxLoader3.datanode: 129.785 (7)
  load_resource: 152.5
  PetaboxLoader3.resolve: 97.936
*/